{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
  },
  "extends": "airbnb/base",
  "plugins": [
    "no-class"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    // Third-party rules
    "no-class/no-class": 2
  }
}
