# This file is for unifying the coding style for different editors and IDEs.
# EditorConfig http://EditorConfig.org
# Use "npm install -g editorconfig" and "configeditor" to check file processing
# In VisualStudio use the EditorConfig extension - https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328

# top-most EditorConfig file
root = true

# LF line endings with a newline ending every file
# Line-ending will interact with git line ending configuration
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.njsproj,*.sln]
end_of_line = crlf

[Makefile]
indent_style = tab
