{
  "extends": ["eslint-config-hapi"],
  "env": {
    "node": true
  },
  "globals": {
  },
  "rules": {
    //"no-shadow": [1, { "builtinGlobals": false, "hoist": "functions", "allow": ["err", "done"] }]
  }

}
